* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



:root {
	--cell-size: 100px;

	--color: #81c3fd; /* for hover */
	--color-set: #214357; /* when set */
	--l: 10px; /* X line-width */
}

body {
	margin: 0;
	background-color: aliceblue;
}

.board {
	width: auto;
	height: auto;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}

/* remove border for edges */
.game:nth-child(1), .game:nth-child(2), .game:nth-child(3) {
	border-top: none;
}

.game:nth-child(1), .game:nth-child(4), .game:nth-child(7) {
	border-left: none;
}

.game:nth-child(3), .game:nth-child(6), .game:nth-child(9) {
	border-right: none;
}

.game:nth-child(7), .game:nth-child(8), .game:nth-child(9) {
	border-bottom: none;
}


.game.x, .game.circle, .game.game-over {
    cursor: not-allowed;
}




.click {
    background-color: aliceblue;
}

.result {
	text-align: center;
	margin: auto;
	overflow: auto;
}



.winner {
    /* background-color: green; */
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
}

.game {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}



/* for cross */
.board.x .game:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}


/* for cross (set) */
.game:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* for circle */
.board.circle .game:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for circle (set) */
.game:not(.x).circle {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
}

header {
	text-align: center;
}

header h1 {
	font-size: 64px;
	font-family: 'Poppins', sans-serif;
}

.turn-indicator {
	text-align: center;
	overflow: auto;
}

.turn {
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
}

.score {
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
}



.restart, .cpu-play {
	background-color: black;
	color: whitesmoke;
	padding: 32px 60px;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
}