* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

section {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr;
    margin: 1em; */
    align-content: space-around;
    gap: 1px 1px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: calc(100px * 3 + 1rem);
    width: 0px;

}




.click {
    background-color: aliceblue;
}

.winner {
    background-color: green;
}

.game {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    order: 3;

}

